<h1><%= t('.edit_title') %></h1>

<%= link_to t('attributes.task.task_index'), tasks_path %>
<%= link_to t('attributes.task.task_show'), task_path %>

<!-- partial render -->
<%= render 'form', task: @task, action: :update, method: :patch, button: t('.update_button') %>